/* Under 600 ----------- */
@media only screen and (max-width : 600px) {
	.header .beforepitch,
	.header .illustration {
		display: none;
	}
	.baseline {
		text-align: right;
	}
	.baseline strong {
		display: block;
	}
	.header .pitch {
		clear: both;
	}
	.header .nav ul {
		margin: 0;
		padding: 0;
	}
	.header .nav li {
		float: left;
		width: 45%;
		padding: 0 2%;
	}
	.header .nav a {
		margin-bottom: 1em;
		background: #fff;
		color: #402f33;
	}
	.footer .apropos {
		background: #fff;
	}
}
/* Over 600 ----------- */
@media only screen and (min-width : 600px) {
	.header .baseline {
		background: #f9b410;
		color: #402F33;
	}
	.header .afterpitch {
		display: none;
	}
	.header .pitch {
		float: left;
		width: 45%;
	}
	.header .illustration {
		float: left;
		max-width: 50%;
		margin-bottom: 1em;
	}
	.header .nav ul {
		margin-top: 0;
	}
	.header .nav {
		background: #402f33;
		background: rgba(0,0,0,.33);
		width: 100%;
		float: left;
	}
	.header .nav li {
		float: left;
		width: 24%;
	}
	.header .nav a {
		color: #fff;
	}
}

/* 600-980 ----------- */
@media only screen and (min-width : 600px) and (max-width : 980px) {
	.block {
		margin-left: 1%;
		margin-right: 1%;
	}
	.baseline {
		float: right;
		text-align: right;
	}
	.baseline strong {
		display: block;
	}
}

/* Over 980 ----------- */
@media only screen and (min-width : 980px) {
	.actualites,
	.programme {
		float: left;
		width: 450px;
		margin-bottom: 1em;
	}
	.actualites {
		margin-right: 39px;
	}
	.actualites h2,
	.programme h2 {
		margin-top: 0;
	}
	.programme .illustration {
		float: none;
		display: block;
		margin: 0 auto;
	}
	.social {
		clear: both;
		background: #9C1529 url(assets/img/header.png) no-repeat center 80%;
		overflow: hidden;
		padding: .1em 0 .1em 10px;
	}
	.social h2,
	.social a {
		color: #fff;
	}
	.social h2 {
		background: none;
		border: none;
		float: left;
		padding: 0 1em 0 0;
	}
	.social h2::after {
		display: none;
	}
	.social ul {
		margin: .4em 0;
	}
	.social li,
	.social a {
		display: block;
		float: left;
	}
}

/* 980-1280 ----------- */
@media only screen and (min-width : 980px) and (max-width : 1280px) {
}

/* Over 1280 ----------- */
@media only screen and (min-width : 1280px) {
}

/* High pixel ratio devices ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),
 only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}