<!doctype html>
<html lang="fr-FR">
    <head itemscope itemtype="http://schema.org/WebSite">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% seo %}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@{{site.twitter.username}}">
        <meta name="twitter:creator" content="@{{site.twitter.username}}">
        <meta name="twitter:title" content="{{ site.title }}">
        <meta name="twitter:description" content="{{site.description}}">
        <meta name="twitter:image" content="{{ page.image }}">

        <link href="{{ site.baseurl }}/assets/favicons/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/screen.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,700|Squada+One">
        {% include favicons.html %}



        {% include analytics.html %}
    </head>
