<div class="sidebar"><ul id="menu-conferences-sidebar" class="menu"><li id="menu-item-35" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-23 current_page_item menu-item-has-children menu-item-35 menu-item-sudweb"><a href="{{site.baseurl}}/programme/">Programme</a>
<ul class="sub-menu">
	<li id="menu-item-201" class="menu-item menu-item-type-post_type menu-item-object-schedule menu-item-201 menu-item-sudweb"><a href="{{site.baseurl}}/schedule/conferences/">Les conférences</a></li>
	<li id="menu-item-199" class="menu-item menu-item-type-post_type menu-item-object-schedule menu-item-199 menu-item-sudweb"><a href="{{site.baseurl}}/schedule/repas-communautaire/">Soirée communautaire</a></li>
	<li id="menu-item-200" class="menu-item menu-item-type-post_type menu-item-object-schedule menu-item-200 menu-item-sudweb"><a href="{{site.baseurl}}/schedule/elaboratoire/">L’Élaboratoire</a></li>
</ul>
</li>
<li id="menu-item-39" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39 menu-item-sudweb"><a href="{{site.baseurl}}/orateurs/">Orateurs</a></li>
</ul></div>
