.single #content,
.page #content{
    /**
     * Common to all content types
     */
    .hentry{
        h3{
            color: $linkColor;
        }

        header{
            margin-bottom: $baseLineHeight * 2;
            position: relative;

            img{
                position: absolute;
                z-index: 0;
            }

            .post-title, span{
                background: #fff;
                border: none;
                display: inline;
                padding: .2em 10px;
                z-index: 10;

                &:after{
                    display: none;
                }
            }

            .post-speaker{
                bottom: 0;
                @include alternate-font-stack();
                font-size: 1.2em;

                &, a{
                    color: $linkColor;
                }
            }
        }

        &.with-thumbnail header{
            height: 220px;

            .post-title, span{
                bottom: 0;
                margin-bottom: 2em;
                position: absolute;
            }

            .post-speaker{
                margin-bottom: 0;
            }
        }
    }
}
