header{
    background: @active_link_color url('assets/img/header.png') no-repeat bottom center;
    color: #fff;

    h1{
        background: @background_color;
        .border-radius(e("0 5em 2.5em 12em / 0 10em 1em 9em"));
        display: inline-block;
        padding: .8em;
    }
}

