html{
    font-family: @default_font_stack;
}

.aligncenter{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*
 * Content Mixins
 * @todo move it in another stylesheet for readability sake, if it's becoming too long
 */
.transform(@tranform){
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -ms-transform: @arguments;
    -o-transform: @arguments;
    transform: @arguments;
}

#content{
    .block(){
        @color: #fff;

        background: @content_background_border;
        color: @color;
        padding: @gridGutterWidth / 2;

        p, a, h2, h3{
            color: @color;
        }
    }

    .cta(@color: #fff, @background_color: @active_link_color){
        @offsetX: 2em;
        @offsetY: -.6em;

        background: @background_color;
        color: @color;
        display: inline-block;
        padding: .5em;
        position: relative;

        &, h2, a{
            color: @color;
            text-decoration: none;
        }

        /*
         * Baloon positionning
         */
        &:after, &:before{
            color: @background_color;
            position: absolute;
        }
        &.bottom-right:after{
            content: "\25E4";
            right: @offsetX;
            bottom: @offsetY;
        }
        &.bottom-left:after{
            content: "\25E5";
            left: @offsetX;
            bottom: @offsetY;
        }
        &.top-right:before{
            content: "\25E2";
            right: @offsetX;
            top: @offsetY;
        }
    }

    .cta-large(@background_color: #402f33){
        background: @background_color;
        display: block;
        margin: 1.5em;

        &.baloon:after, &.baloon:before{
            color: @background_color;
        }
        &.baloon-bottom-right:after{
            font-size: 1.2em;
            right: 33%;
        }
    }
}

/*
 * Call To Action + Baloon
 */
.cta{
    #content .cta();
}

/**
 * Header Display
 * =header
 */
header{
    @color: #fff;
    background: @active_link_color url('assets/img/header.png') no-repeat bottom center;
    color: @color;
    margin-bottom: 6em;

    .container{
        padding-left: @gridGutterWidth;
        padding-right: @gridGutterWidth;
        position: relative;
    }

    h1{
        background: @background_color;
        .border-radius(e("0 5em 2.5em 12em / 0 10em 1em 9em"));
        display: inline-block;
        margin-left: -@gridGutterWidth * 2;
        padding: @gridGutterWidth;
        padding-left: @gridGutterWidth * 2;
    }

    .baseline{
        position: absolute;
        right: @gridGutterWidth;
        top: @gridGutterWidth * 3;
        text-align: right;
        width: percentage(.40);

        strong{
            display: block;
            font-size: 1.1em;
        }
    }

    .widget{
        #content .block;
        margin-bottom: @baseLineHeight;
        margin-top: @baseLineHeight;
    }

    .menu-item{
        list-style: none;
        margin-bottom: @baseLineHeight / 2 !important;
        text-align: center;

        a{
            background: @color;
            color: @content_background_border;
            display: block;
            font-weight: bold;
            padding: @gridGutterWidth / 2;
            text-decoration: none;
        }
    }

    .cta{
        .box-shadow(2px 2px 5px rgba(0,0,0,.40));
        font-size: 1.9em;
        position: absolute;
        top: 105%;
    }
}

/**
 * Main Content Display
 * =main
 */
#content{
    h2{
        background: #fff;
        border-bottom: 1px solid;
        margin: 0 -5px 1em;
        padding: 1em 5px .2em;
        position: relative;

        &::after{
            background: inherit;
            border: 0 solid;
            border-width: 0 1px 1px 0;
            bottom: -4px;
            content: "";
            display: block;
            height: 5px;
            left: 1em;
            position: absolute;
            width: 10px;
            .transform(rotate(45deg) skew(45deg));
         }
    }

    .rich-list-container{
        background-color: @grayLight;
        padding: 0 5px 1em;
    }
}
